body {
    background-image: linear-gradient(rgb(250, 9, 9), rgb(235, 232, 60),rgb(250, 9, 9));

}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}

.jumbotron {
    color: rgb(97, 31, 158);
    background-color: rgb(163, 201, 201)
}

